@import 'button';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


//>>>>>>>>>>>>>>>>>>>>>>>>>>>>> this is the besically only css file that  have been maked earlier<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// main{
//   height: 100%;
//   width: 100%;
//   background-color: black;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//  main section{
//   height: 50%;
//   width: 50%;
//   background-color: whitesmoke;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//  }


//  main section h1{
//   font-size: 45px;
//   color: orange;
//   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }






// >>>>>>>>>>>>>The main part of the scss will start from here<<<<<<<<<<<<<<<<<<<<<


// @mixin flexCenter(){
//    display: flex;
//   align-items: center;                            >>>>>>>>This is the concept about the mixin part of the code<<<<<<<
//   justify-content: center;
// }

// main{
//   height: 100%;
//   width: 100%;
//   background-color: black;
//   @include flexCenter();


//  section{                                                  >>>>>>>>>>>>>>This is besically the nesting part of the code that include the fundamental part and its concept <<<<<<
//   height: 50%;
//   width: 50%;
//   background-color: red; 
//    @include flexCenter();;

//     h1{
//       background-color: yellow;
//       color:darkorchid;
//       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//       font-size: 3em;
//     }
//  }
//  }








//                                                 >>>>>>>>concept of mixin with the help of creating an button <<<<<<<<<<<<<<<<<<<

//                            <<<<<<<<<for the understanding of using the mixin concept by creating the variable using $(symbol)>>>>>>>>>>>>>>>>>>>

// @mixin button($bg-color,$border-color){
//   padding: 20px 10px;
//   background-color: $bg-color;
//   color: yellow;
//   outline: none;
//   border: 2px solid $border-color;
//   border-radius: 10px;
//   cursor: pointer;
// }
// .blue{
//   @include button(blue,green)
// }
// .red{
//   @include button(red, neon)
// }








// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.conept of partial and Imports in scss by creating an new file named _button.scss which will split the whole code base into multiple file which willl make it look great and code understandable<<<<<<<<<<<<<<<<


.blue{
  @include button(blue,green)
}
.red{
  @include button(yellow, pink)
}